<!-- src/main/resources/templates/fragments/modals/_succes.html -->
<div class="modal fade" id="registerSuccessModal" tabindex="-1" aria-labelledby="registerSuccessModalLabel" aria-hidden="true" th:fragment="registerSuccessModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerSuccessModalLabel">Inscription Réussie</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Votre inscription a été effectuée avec succès.</p>
            </div>
            <div class="modal-footer">
                <!-- Ce bouton ferme ce modal et ouvre la modal de connexion -->
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#loginModal">
                    Se connecter
                </button>
            </div>
        </div>
    </div>
</div>
