<!-- templates/fragments/client/modals/_panierModal.html -->
<div class="modal fade" id="panierModal" tabindex="-1" aria-labelledby="panierModalLabel" aria-hidden="true" th:fragment="panierModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="panierModalLabel">Mon panier</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
            </div>
            <div class="modal-body">
                <div id="panierContent">
                    <!-- Le contenu du panier sera chargé dynamiquement -->
                </div>
            </div>
            <div class="modal-footer">
                <!-- Bouton de réservation qui sera désactivé si un jeu est indisponible -->
                <button type="button" id="btn-reserver-panier" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reservationPanierModal" data-bs-dismiss="modal">
                    Procéder à la réservation
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
