<!-- templates/fragments/client/modals/_successPanierModal.html -->
<div class="modal fade" id="successPanierModal" tabindex="-1" aria-labelledby="successPanierModalLabel" aria-hidden="true" th:fragment="successPanierModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successPanierModalLabel">Succès</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
            </div>
            <div class="modal-body">
                <p id="successPanierModalMessage">Le jeu a été ajouté au panier avec succès.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
