<!-- templates/fragments/client/modals/_successReservModal.html -->
<div class="modal fade" id="successReservModal" tabindex="-1" role="dialog" aria-labelledby="successReservModalLabel" aria-hidden="true" th:fragment="successReservModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successReservModalLabel">Succès</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
            </div>
            <div class="modal-body">
                <p>Votre réservation a été effectuée avec succès !</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
